body {
	 background: #FFFFFF;
	 font-family: arial;
 }
 *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
form{
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	padding: 10px;
	overflow-x: hidden;
	background-color: lightgrey;
	border-radius: 5px;
}
label{
	margin-left: 10%;
}
input, button{
	outline: none;
}
input{
	width: 70vw;
	padding: 10px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin: 5px;
	border: 2px solid gray;
	border-radius: 4px;
}
input[type="text"]:focus, input[type="password"]:focus{
	border-color: steelblue;
	color: steelblue;
}
button{
	width: 70vw;
	margin: auto;
	padding: 10px;
	text-transform: uppercase;
	border: 1px solid transparent;
	background-color: #008000;
	color: white;
	border-radius: 5px;
}
button[type="button"]{
	background-color: transparent;
	color: steelblue !important;
}
form h3{
	text-transform: uppercase;
	border-bottom: 2px solid gray;
	margin-bottom: 10px;
}
